@import "tailwindcss";

/* fonts */
@font-face {
  font-family: "Rebellion";
  src: url("./fonts/Rebellion-Squad.ttf") format("truetype");
}

h1 {
  font-family: Rebellion;
  letter-spacing: 10px;
}

.text-24 {
  @apply text-[16px]  md:text-[18px] xl:text-[24px];
}
.section-title {
  @apply text-3xl  lg:text-5xl xl:text-7xl text-white;
}

.container-max-width {
  @apply container px-4;
}

.nav-logo {
  @apply h-[40px]  md:h-[50px] lg:h-[80px]  xl:h-[110px]  2xl:h-[150px] object-center;
}

.nav-item-button {
  @apply font-medium text-xs xl:text-base  2xl:text-xl text-white  rounded-[12px]  px-2 lg:px-3  py-1.5 xl:py-2    2xl:px-4 2xl:py-2 transition-all duration-300 ease-in-out border-2  relative bg-[rgba(255,0,0,0)];
}

.nav-item-button:hover {
  @apply shadow-[0px_0px_40px_0px_rgba(138,_43,_226,_0.4)] shadow-red-600 bg-transparent;
}
.nav-item-button:hover:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 4px;
  border-radius: 12px;
  box-shadow: 0px 0px 40px 0px #d31d1d inset;
  border-color: #ffffff;
}

.hero-buttons {
  @apply font-medium text-xs xl:text-base 2xl:text-xl text-white rounded-[12px] px-2 lg:px-3 py-1.5 xl:py-2 2xl:px-4 2xl:py-2 transition-all duration-300 ease-in-out border-2 relative shadow-[0px_0px_40px_0px_rgba(138,_43,_226,_0.4)] shadow-red-600 bg-transparent;
}

.timeline-title {
  @apply font-medium text-3xl lg:text-4xl 2xl:text-4xl bg-gradient-to-l from-[#003BDF] to-50% to-[#6100B7] bg-clip-text text-transparent;
}
.section-padding{
  @apply py-[10vh]  lg:py-[14vh] xl:py-[16vh]  2xl:py-[16vh] 
}

/* .hero-buttons{
  color: #ffffff;
  border: 2px solid white;
  padding: 10px;
  border-radius: 13px;
  box-shadow: 0px 0px 40px 10px #d31d1d ;
  position: relative;
  z-index: 1;
} */

.hero-buttons:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4px;
  border-radius: 12px;
  box-shadow: 0px 0px 40px 0px #d31d1d inset;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.4;
  /* z-index: -3; */
}

/* Define the animation for sliding left to right */
@keyframes slide-left-to-right {
  0% {
    transform: translateX(-100%); /* Start from the left */
  }
  50% {
    transform: translateX(0%); /* Move to the center */
  }
  100% {
    transform: translateX(100%); /* End on the right */
  }
}

/* Define the animation for sliding right to left */
@keyframes slide-right-to-left {
  0% {
    transform: translateX(100%); /* Start from the right */
  }
  50% {
    transform: translateX(0%); /* Move to the center */
  }
  100% {
    transform: translateX(-100%); /* End on the left */
  }
}

/* Apply the sliding effect to the container */
.slide-container {
  display: flex;
  animation: slide-right-to-left 30s ease-in-out infinite,
    slide-left-to-right 30s ease-in-out infinite;
  animation-direction: alternate; /* Alternate the direction */
}


